.paginator-container {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    min-height: 50px;
    height: 10vh;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.paginator-number {
    font-size: 24px;
    color: #ffffff;
}

.selected-page {
    text-decoration: underline;
}